<head>
    <link rel="stylesheet" href="~/css/dashboard.css">
</head>

<div class="text-center my-3 ">
    <div class="display-6 text-white">Dashboard</div>
    <hr class="my-4" style="border: 2px solid #9099a6; border-radius: 5px;">
</div>

<div class="my-5">
    <partial name="_Cards" />
</div>

