<div class="row">

    <div id="cardex" class="col-md-3 mx-4 d-flex flex-column">
        <div class="card bg-primary text-white flex-fill" style="width: 20rem;">
            <div class="card-body text-center align-items-start">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Emails Sent</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("EmailSendSummary")
                </h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 mx-4 d-flex flex-column">
        <div class="card bg-warning text-white flex-fill" style="width: 20rem;">
            <div class="card-body text-center align-items-start">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Emails Clicked</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("EmailClickedSummary")
                </h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 mx-4 d-flex flex-column">
        <div class="card bg-info text-white flex-fill" style="width: 20rem;">
            <div class="card-body text-center align-items-start">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Emails Submitted</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("EmailSubmittedSummary")
                </h3>
                <a asp-controller="SocialMedia" asp-action="Index" class="card-link text-white text-center"><i class="fa-regular fa-eye"></i>Logins</a>
            </div>
        </div>
    </div>

</div>


<div class="row my-4">

    <div class="col-md-3 mx-4">
        <div class="card bg-danger text-white" style="width: 62rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">regarding emails</h6>
                <h5 class="card-title">See Interactions</h5>
                <a asp-controller="EmailLog" asp-action="Index" class="card-link text-white text-center"><i class="fa-regular fa-eye"></i>See</a>
            </div>
        </div>
    </div>

</div>

