@model IEnumerable<EmailTemplate>

<div class="mt-3">
    <h6 class="lead">
        <i class="fa-solid fa-square-caret-down text-secondary"></i>
        Templates
    </h6>
</div>

<div class="my-4">
    <select id="templateDropdown" class="form-control bg-warning-subtle text-dark">
        <option value="">Select a Template</option>
        @foreach (var t in Model)
        {
            <option value="@Url.Action("Index", new { emailTemplateId = t.EmailTemplateId })">
                @t.EmailTemplateName
            </option>
        }
    </select>
</div>

<script>
    document.getElementById("templateDropdown").addEventListener("change", function () {
        var selectedValue = this.value;
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    });
</script>
