@model IEnumerable<SubmissionProfile>

<div class="mt-3">
    <h6 class="lead">
        <i class="fa-solid fa-square-caret-down text-secondary"></i>
        Profiles
    </h6>
</div>

<div class="my-4">
    <select id="profileDropdown" class="form-control bg-warning-subtle text-dark">
        <option value="">Select a Profile</option>
        @foreach (var t in Model)
        {
            <option value="@Url.Action("Index", new { summissionProfileId = t.SubmissionProfileId })">
                @t.SubmissionProfileName
            </option>
        }
    </select>
</div>

<script>
    document.getElementById("profileDropdown").addEventListener("change", function () {
        var selectedValue = this.value;
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    });
</script>
